.l-container
  p.u-mb30
    button.c-btn-main Button要素ボタン
  p.u-mb30
    a(href="#").c-btn-sub Link要素ボタン

  p.u-mb30
   a(href="#").c-icon-btn <svg class="c-icon c-icon--before" role="img"><use xlink:href="/svg/sprite.svg#icon03"></use></svg>アイコン付きボタン（前）
  
  p.u-mb30
   a(href="#").c-icon-btn アイコン付きボタン（後）<svg class="c-icon c-icon--after" role="img"><use xlink:href="/svg/sprite.svg#icon03"></use></svg>

  .p-page-top__wrapper
    a(href="#").p-page-top__btn
