@charset "UTF-8";

/* ========================================
  Inquiry Form
======================================== */

// お問い合わせフォーム標準モジュール
// --------------------------------------------------
.p-inquiry-form-wrap {
  max-width: 580px;
  margin-right: auto;
  margin-left: auto;
}

.p-inquiry-form {
  width: 100%;

  > *:last-child {
    margin-bottom: 0;
  }
}

.p-inquiry-form__input,
.p-inquiry-form__text-area,
.p-inquiry-form__select {
  width: 100%;
  line-height: 1.6;
  border: 1px solid #ccc;
  border-radius: 3px;

  &:focus {
    outline: 3px solid #fcce0069;
  }
}

// フォームグループ
.p-inquiry-form-group {
  margin-bottom: 2rem;
}

// フォームエラーメッセージ
.p-inquiry-form__error-txt {
  display: block;
  font-weight: bold;
  color: red;
}

// フォーム項目タイトル
.p-inquiry-form__label,
.p-inquiry-form__legend {
  display: block;
  margin-bottom: 1rem;
  font-weight: bold;
  color: $accentColor;
}

// インプット
.p-inquiry-form__input {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem;
  font-size: 1.6rem;
  line-height: 1.6;
  border: 1px solid #ccc;
}

// セレクトボックス
.p-inquiry-form__select-box {
  position: relative;
  width: 100%;

  &::after {
    @include arrow(bottom, 14px, 14px, 2px, $accentColor);

    content: "";
    display: block;
    position: absolute;
    right: 1em;
    bottom: 1.3em;

    @include mq(md) {
      bottom: 1em;
    }
  }
}

.p-inquiry-form__select {
  padding: 1rem 0.5rem;
  font-size: 1.6rem;
  background-color: #fff;
  appearance: none;

  @include mq(md) {
    padding: 0.5rem;
  }

  &::-ms-expand {
    display: none;
  }
}

// テキストエリア
.p-inquiry-form__text-area {
  box-sizing: border-box;
  height: get_vw(200);
  padding: 0.5rem;
  font-size: 1.6rem;
  appearance: none;

  @include mq(md) {
    height: 180px;
  }
}

// 送信ボタン
.p-inquiry-form__submit {
  text-align: center;
}

.p-inquiry-form__submit-btn {
  @include fz_vw(30);

  width: get_vw(360);
  padding: 1rem 1rem;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 2rem;
  background-color: $mainColor;
  color: $accentColor;

  @include mq(md) {
    width: 280px;
    padding: 1.4rem 1.4rem;
    font-size: 1.8rem;
    border-radius: 3rem;
  }

  &[disabled] {
    background-color: $blurColor;
    color: #fff;
  }

  &:not([disabled]) {
    @include alpha(0.8);

    cursor: pointer;
  }
}
