@charset "UTF-8";

/* ========================================
  Jumbotron
======================================== */

// ジャンボトロン(メインビジュアル)標準モジュール
// --------------------------------------------------
// ジャンボトロン背景画像
.p-jumbotron {
  @include vs(height, 768px, 300px, 1200px, 600px);

  width: 100%;
  background-position: center center;
  background-size: cover;
}

// ジャンボトロンインナーコンテンツ
.p-jumbotron__inner {
  position: relative;
  max-width: $cntWidth;
  height: 100%;
}

// ジャンボトロン見出し
.p-jumbotron__ttl {
  @include vs(padding, 768px, 20px, 1200px, 40px);
  @include vs(font-size, 768px, 26px, 1200px, 36px);

  position: absolute;
  top: 50%;
  left: 0;
  background-color: rgba(0, 0, 0, .6);
  color: #fff;
  transform: translateY(-50%);
}
