@charset "UTF-8";

/* ========================================
  Modal
======================================== */

// モーダル標準モジュール
// --------------------------------------------------
// 画面オーバーレイ
.p-modal__overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

// モダーダルボックス
.p-modal__box {
  position: relative;
  z-index: 2;
  width: 50%;
  padding: 3rem;
  background-color: #fff;
}

// モーダル閉じるボタン
.p-modal__close-btn {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
  appearance: none;
}

// モーダルアニメーション
.modal-enter-active,
.modal-leave-active {
  transition: opacity $baseTransition;
}

.modal-enter,
.modal-leave-to {
  opacity: 0;
}
