@charset "UTF-8";

/* ========================================
  Modal
======================================== */

// Vue.jsモーダル標準モジュール
// --------------------------------------------------
// 画面オーバーレイ
.p-modal__overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
}

// モダーダルボックス
.p-modal__box {
  position: relative;
  z-index: 2;
  width: 50%;
  padding: 3rem;
  background-color: #fff;
}

// モーダル閉じるボタン
.p-modal__close-btn {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
  appearance: none;
}

// モーダルアニメーション
.modal-enter-active,
.modal-leave-active {
  transition: opacity $baseTransition;
}

.modal-enter,
.modal-leave-to {
  opacity: 0;
}

// Micromodal.jsモーダル標準モジュール
// --------------------------------------------------
.p-micromodal__overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .6);
}

.p-micromodal__container {
  overflow-y: auto;
  box-sizing: border-box;
  max-width: 500px;
  max-height: 100vh;
  padding: 30px;
  border-radius: 4px;
  background-color: #fff;
}

.p-micromodal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p-micromodal__title {
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.25;
  color: #00449e;
}

.p-micromodal__close {
  border: 0;
  background: transparent;
}

.p-micromodal__header .p-micromodal__close::before {
  content: "\2715";
}

.p-micromodal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, .8);
}

.p-micromodal__btn {
  overflow: visible;
  margin: 0;
  padding-top: .5rem;
  padding-right: 1rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
  text-transform: none;
  font-size: .875rem;
  line-height: 1.15;
  border-width: 0;
  border-style: none;
  border-radius: .25rem;
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, .8);
  cursor: pointer;
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out, -webkit-transform .25s ease-out;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-appearance: button;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  will-change: transform;
}

.p-micromodal__btn:focus,
.p-micromodal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.p-micromodal__btn-primary {
  background-color: #00449e;
  color: #fff;
}

@keyframes mmfadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-10%);
  }
}

.p-micromodal-slide {
  display: none;
}

.p-micromodal.is-open {
  display: block;
}

.p-micromodal-slide[aria-hidden="false"] .p-micromodal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0, 0, .2, 1);
}

.p-micromodal-slide[aria-hidden="false"] .p-micromodal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.p-micromodal-slide[aria-hidden="true"] .p-micromodal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0, 0, .2, 1);
}

.p-micromodal-slide[aria-hidden="true"] .p-micromodal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.p-micromodal-slide .p-micromodal__container,
.p-micromodal-slide .p-micromodal__overlay {
  will-change: transform;
}
