@charset "UTF-8";

/* ========================================
  Page Top
======================================== */

// ページトップボタン標準モジュール
// --------------------------------------------------
.p-page-top__wrapper {
  position: fixed;
  right: get_vw(30);
  bottom: get_vw(30);
  z-index: 1000;

  @include mq(md) {
    right: 30px;
    bottom: 30px;
  }
}

// ページトップボタン
.p-page-top__btn {
  display: block;
  position: relative;
  overflow: hidden;
  width: get_vw(56);
  height: get_vw(56);
  white-space: nowrap;
  border: 1px solid $accentColor;
  background-color: #fff;
  cursor: pointer;

  @include mq(md) {
    width: 46px;
    height: 46px;
  }

  svg {
    max-width: 100%;
    height: get_vw(56);

    @include mq(md) {
      width: 46px;
      height: 46px;
    }
  }
}
