@charset "UTF-8";

/* ========================================
  Slider
  スライダーにはSwiperスライダーを利用しています。ライブラリ標準CSSはFoundationに格納されています。
  https://swiperjs.com/
======================================== */

// スライダー標準モジュール
// --------------------------------------------------
.p-slide--full {
  img {
    width: 100%;
  }
}

// スライダーボタン
.p-slide__btn-prev,
.p-slide__btn-next {
  @include fz_vw(54);

  top: 50%;
  transform: translateY(-50%);
  fill: #007aff;

  @include mq(md) {
    font-size: 4.4rem;
  }

  // Swiperスライダーボタン標準デザイン無効化
  &::after {
    content: none;
  }
}
