@charset "UTF-8";

/* ========================================
  Tab Navigation
======================================== */

// タブナビゲーション標準モジュール
// --------------------------------------------------
.p-tab {
  max-width: 960px;
  margin: 0 auto;
}

// タブリスト
.p-tab-nav {
  // タブリスト水平スクロール
  overflow-x: auto;
}

.p-tab-nav__list {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-bottom: 1rem;
  white-space: nowrap;
  list-style: none;

  @include mq(md) {
    justify-content: center;
  }
}

// タブアイテム
.p-tab-nav__item {
  width: 100%;

  button {
    @include form_reset;

    width: 100%;
    padding: 1rem;
    font-size: 1.4rem;
    border-bottom: 4px solid $accentColor;
    cursor: pointer;

    // タブアクティブ時
    &[aria-selected="true"] {
      border-bottom: 4px solid $mainColor;
    }
  }
}

// タブコンテンツ
.p-tab-content {
  // タブコンテンツ非表示
  &[aria-hidden="true"] {
    display: none;
  }

  // タブコンテンツ表示
  &[aria-hidden="false"] {
    display: block;
  }
}
