// Footer
.p-page-top__wrapper
    .p-page-top__btn.js-pageTop
    
footer.l-footer.u-bg-color--main
  .l-footer__inner
    ul.p-footer__nav
      li.p-footer__nav-item
        a(href="/").p-footer__nav-link ホーム
      li.p-footer__nav-item
        a(href="sample.html").p-footer__nav-link サンプル
      li.p-footer__nav-item
        a(href="sample02.html").p-footer__nav-link サンプル2

  p.p-footer__copy Copyright &copy; 2020 OHTAM.inc All Rights Reserved.
// /Footer
