

<div class="l-container"><p class="u-mb30"><button class="c-btn-main">Button要素ボタン</button></p><p class="u-mb30"><a class="c-btn-sub" href="#">Link要素ボタン</a></p><p class="u-mb30"><a class="c-icon-btn" href="#"><svg class="c-icon c-icon--before" role="img"><use xlink:href="/svg/sprite.svg#icon03"></use></svg>アイコン付きボタン（前）</a></p><p class="u-mb30"><a class="c-icon-btn" href="#">アイコン付きボタン（後）<svg class="c-icon c-icon--after" role="img"><use xlink:href="/svg/sprite.svg#icon03"></use></svg></a></p><div class="p-page-top__wrapper"><a class="p-page-top__btn" href="#"></a></div></div>
