@charset "UTF-8";

/* ========================================
  Layout Header
======================================== */

.l-header {
  padding: 2rem 0;
  border-bottom: 1px solid #ccc;
}

.l-header__inner {
  max-width: $cntWidth;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
