// 共通バナーエリア
.p-bnr
  ul.p-bnr__list.p-bnr__list-col4
    li.p-bnr__list-item
      a(href="#").p-bnr__list-link 
        img(src="https://placehold.jp/600x250.png", alt="サンプル画像")
    li.p-bnr__list-item
      a(href="#").p-bnr__list-link 
        img(src="https://placehold.jp/600x250.png", alt="サンプル画像")
    li.p-bnr__list-item
      a(href="#").p-bnr__list-link 
        img(src="https://placehold.jp/600x250.png", alt="サンプル画像")
    li.p-bnr__list-item
      a(href="#").p-bnr__list-link 
        img(src="https://placehold.jp/600x250.png", alt="サンプル画像")
    li.p-bnr__list-item
      a(href="#").p-bnr__list-link 
        img(src="https://placehold.jp/600x250.png", alt="サンプル画像")
// /End 共通バナーエリア
