.c-bnr
  h2 サンプルSSIバナーエリア
  ul.c-bnr_list
    li.c-bnr_list-item
      img(src="https://placehold.jp/250x150.png", alt="サンプル画像")
    li.c-bnr_list-item
      img(src="https://placehold.jp/250x150.png", alt="サンプル画像")
    li.c-bnr_list-item
      img(src="https://placehold.jp/250x150.png", alt="サンプル画像")
    li.c-bnr_list-item
      img(src="https://placehold.jp/250x150.png", alt="サンプル画像")
