.l-container
  //- 箇条書きリスト
  ul.c-bullet-list.u-mb30
    li.c-bullet-list__item 箇条書きリストアイテム
    li.c-bullet-list__item 箇条書きリストアイテム
    li.c-bullet-list__item 箇条書きリストアイテム
    li.c-bullet-list__item 箇条書きリストアイテム
    li.c-bullet-list__item 箇条書きリストアイテム
  //- 箇条書き水平レイアウト
  ul.c-bullet-list.c-bullet-list--horiz
    li.c-bullet-list__item 箇条書き水平レイアウトリストアイテム
    li.c-bullet-list__item 箇条書き水平レイアウトリストアイテム
    li.c-bullet-list__item 箇条書き水平レイアウトリストアイテム
    li.c-bullet-list__item 箇条書き水平レイアウトリストアイテム
    li.c-bullet-list__item 箇条書き水平レイアウトリストアイテム
