.l-container
  //- モーダル起動ボタン
  #modal.p-modal
    button(v-on:click="openModal").c-btn-main 展開する
    //- モーダルコンテンツ
    transition-group(name="modal")
      div(:key="showModal" v-show="showModal").p-modal__overlay
        div(role="dialog" aria-labelledby="dialog1__ttl" aria-modal="true").p-modal__box
          h2#dialog1__ttl.p-modal__ttl モーダル展開
          .p-modal__txt-box
            p.p-modal__txt 彼らも今ほぼそのお話し界においてのの限りが変っなけれなく。ずっと十一月に衰弱らはついにこの推測んましじゃを云えけれどもおりたをは攻撃思っありますて、ずいぶんにもかい摘んうないでらしい。
          button(v-on:click="closeModal").p-modal__close-btn 閉じる

