.swiper-container
  .swiper-wrapper
    .swiper-slide
      img(src="https://placehold.jp/07f07f/ffffff/1200x680.png", alt="")
    .swiper-slide
      img(src="https://placehold.jp/002b69/ffffff/1200x680.png", alt="")
    .swiper-slide
      img(src="https://placehold.jp/fccf00/ffffff/1200x680.png", alt="")
  .swiper-button-prev
  .swiper-button-next
