.l-container
  //- 交差テーブル
  .p-cross-table.u-mb30
    table
      thead
        tr
          th.p-cross-table--sticky サービス名
          th 料金
          th 割引律
          th 内容
      tbody
        tr
          th.p-cross-table--sticky ECアーキテクト
          td ¥3,000 / 月
          td 10%
          td ECサイト設計
        tr
          th.p-cross-table--sticky コーポレートサイト運用
          td ¥2,000 / 月
          td 5%
          td サイト設計, 画像差し替え
        tr
          th.p-cross-table--sticky SNS運用
          td ¥4,000 / 月
          td 20%
          td SNS運用, 撮影
