.l-container
  //- 箇条書き順番付き
  ol.c-order-list
    li.c-order-list__item 箇条書き順番付きリストアイテム
    li.c-order-list__item 箇条書き順番付きリストアイテム
    li.c-order-list__item 箇条書き順番付きリストアイテム
    li.c-order-list__item 箇条書き順番付きリストアイテム
    li.c-order-list__item 箇条書き順番付きリストアイテム
