.l-container
  ol.c-order-list
    li.c-order-list__item 箇条書きリストアイテム
    li.c-order-list__item 箇条書きリストアイテム
    li.c-order-list__item 箇条書きリストアイテム
    li.c-order-list__item 箇条書きリストアイテム
    li.c-order-list__item 箇条書きリストアイテム
