@charset "UTF-8";

/* ========================================
  Display
======================================== */
// Display
// ex) Class Name: .u-dsp-block, .u-dsp-none
// --------------------------------------------------

.u-dsp- {
  &block {
    display: block;
  }

  &none {
    display: none;
  }

  &inline {
    display: inline;
  }

  &ib {
    display: inline-block;
  }

  // スマホのみ表示
  &sp {
    display: block;

    @include mq(md) {
      display: none;
    }
  }

  // PCのみ表示
  &pc {
    display: none;

    @include mq(md) {
      display: block;
    }
  }
}
