@charset "UTF-8";

// Display
// ex) Class Name: .u-dsp-block, .u-dsp-none
// --------------------------------------------------

.u-dsp- {
  &block {
    display: block;
  }
  &none {
    display: none;
  }
  &inline {
    display: inline;
  }
  &ib {
    display: inline-block;
  }
}
