.l-container
  .p-horizontal-table.u-mb30
    table
      tbody
        tr
          th 名前
          td 水平テーブル
        tr
          th 所属
          td 水平テーブル株式会社
        tr
          th 職種
          td フロントエンドエンジニア/テクニカルディレクター/デザイナー/プロジェクトマネージャー

  .p-horizontal-table.p-horizontal-table--scrollX
    table
      tbody
        tr
          th 名前
          td 水平スクロールテーブル(折り返し無し)
        tr
          th 所属
          td 水平スクロールテーブル株式会社
        tr
          th 職種
          td フロントエンドエンジニア/テクニカルディレクター/デザイナー/プロジェクトマネージャー
