.l-container(style="display: flex; flex-wrap: wrap; padding: 3rem")
  .u-bg-color--base(style="width: 120px; height: 120px; border-radius: 50%; text-align: center; vertical-align: middle; line-height: 120px; color: #fff;") ベースカラー
  .u-bg-color--blur(style="width: 120px; height: 120px; border-radius: 50%; text-align: center; vertical-align: middle; line-height: 120px; color: #fff;") Blurカラー
  .u-bg-color--main(style="width: 120px; height: 120px; border-radius: 50%; text-align: center; vertical-align: middle; line-height: 120px;") メインカラー
  .u-bg-color--sub(style="width: 120px; height: 120px; border-radius: 50%; text-align: center; vertical-align: middle; line-height: 120px; color: #fff;") サブカラー
  .u-bg-color--accent(style="width: 120px; height: 120px; border-radius: 50%; text-align: center; vertical-align: middle; line-height: 120px; color: #fff;") アクセントカラー
  .u-bg-color--link(style="width: 120px; height: 120px; border-radius: 50%; text-align: center; vertical-align: middle; line-height: 120px; color: #fff;") リンクカラー
  .u-bg-color--bg(style="width: 120px; height: 120px; border-radius: 50%; text-align: center; vertical-align: middle; line-height: 120px; border: 1px solid #ccc") 背景カラー
