.l-container
  .p-card
    figure.p-card__img-wrapper
      img(src="https://placehold.jp/640x480.png", alt="サンプル画像")
    .p-card__body
      h3.p-card__ttl カードタイトル
      p.p-card__txt 上部に画像があり、下部にテキストが続くモジュールを一般的に「カード」と呼ぶ。
  
  .p-card-wrapper.p-card__col2.u-mt30
    .p-card
      figure.p-card__img-wrapper
        img(src="https://placehold.jp/640x480.png", alt="サンプル画像")
      .p-card__body
        h3.p-card__ttl カードタイトル
        p.p-card__txt 上部に画像があり、下部にテキストが続くモジュールを一般的に「カード」と呼ぶ。
    .p-card
      figure.p-card__img-wrapper
        img(src="https://placehold.jp/640x480.png", alt="サンプル画像")
      .p-card__body
        h3.p-card__ttl カードタイトル
        p.p-card__txt 上部に画像があり、下部にテキストが続くモジュールを一般的に「カード」と呼ぶ。
    .p-card
      figure.p-card__img-wrapper
        img(src="https://placehold.jp/640x480.png", alt="サンプル画像")
      .p-card__body
        h3.p-card__ttl カードタイトル
        p.p-card__txt 上部に画像があり、下部にテキストが続くモジュールを一般的に「カード」と呼ぶ。
    .p-card
      figure.p-card__img-wrapper
        img(src="https://placehold.jp/640x480.png", alt="サンプル画像")
      .p-card__body
        h3.p-card__ttl カードタイトル
        p.p-card__txt 上部に画像があり、下部にテキストが続くモジュールを一般的に「カード」と呼ぶ。
    .p-card
      figure.p-card__img-wrapper
        img(src="https://placehold.jp/640x480.png", alt="サンプル画像")
      .p-card__body
        h3.p-card__ttl カードタイトル
        p.p-card__txt 上部に画像があり、下部にテキストが続くモジュールを一般的に「カード」と呼ぶ。
  
  .p-card-wrapper.p-card__col3.u-mt30
    .p-card
      figure.p-card__img-wrapper
        img(src="https://placehold.jp/640x480.png", alt="サンプル画像")
      .p-card__body
        h3.p-card__ttl カードタイトル
        p.p-card__txt 上部に画像があり、下部にテキストが続くモジュールを一般的に「カード」と呼ぶ。
    .p-card
      figure.p-card__img-wrapper
        img(src="https://placehold.jp/640x480.png", alt="サンプル画像")
      .p-card__body
        h3.p-card__ttl カードタイトル
        p.p-card__txt 上部に画像があり、下部にテキストが続くモジュールを一般的に「カード」と呼ぶ。
    .p-card
      figure.p-card__img-wrapper
        img(src="https://placehold.jp/640x480.png", alt="サンプル画像")
      .p-card__body
        h3.p-card__ttl カードタイトル
        p.p-card__txt 上部に画像があり、下部にテキストが続くモジュールを一般的に「カード」と呼ぶ。
    .p-card
      figure.p-card__img-wrapper
        img(src="https://placehold.jp/640x480.png", alt="サンプル画像")
      .p-card__body
        h3.p-card__ttl カードタイトル
        p.p-card__txt 上部に画像があり、下部にテキストが続くモジュールを一般的に「カード」と呼ぶ。
    .p-card
      figure.p-card__img-wrapper
        img(src="https://placehold.jp/640x480.png", alt="サンプル画像")
      .p-card__body
        h3.p-card__ttl カードタイトル
        p.p-card__txt 上部に画像があり、下部にテキストが続くモジュールを一般的に「カード」と呼ぶ。

    
