

<!DOCTYPE html><html lang="ja"><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0"><link media="all" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/yakuhanjp@3/dist/css/yakuhanjp_s.min.css"><link media="all" rel="stylesheet" href="../../css/common.css"></head><body><div class="preview"><div class="l-container"><button class="c-btn-main">Button要素ボタン</button><a class="c-btn-sub" href="#">Link要素ボタン</a></div></div><script src="../../js/index.js"></script></body></html>
