//- バナーコンポーネント出力
mixin bnrItem(url, img, imgAlt)
  li.p-bnr__list-item
     a(href=url).p-bnr__list-link 
       img(src=img, alt=imgAlt)

.l-container
  //- 2カラムバナーエリア   
  .p-bnr.u-mb30
    ul.p-bnr__list.p-bnr__list-col2
      +bnrItem("#", "https://placehold.jp/600x150.png", "サンプル画像")
      +bnrItem("#", "https://placehold.jp/600x150.png", "サンプル画像")
      +bnrItem("#", "https://placehold.jp/600x150.png", "サンプル画像")
      +bnrItem("#", "https://placehold.jp/600x150.png", "サンプル画像")
      +bnrItem("#", "https://placehold.jp/600x150.png", "サンプル画像")
  //- 3カラムバナーエリア   
  .p-bnr.u-mb30
    ul.p-bnr__list.p-bnr__list-col3
      +bnrItem("#", "https://placehold.jp/600x250.png", "サンプル画像")
      +bnrItem("#", "https://placehold.jp/600x250.png", "サンプル画像")
      +bnrItem("#", "https://placehold.jp/600x250.png", "サンプル画像")
      +bnrItem("#", "https://placehold.jp/600x250.png", "サンプル画像")
      +bnrItem("#", "https://placehold.jp/600x250.png", "サンプル画像")
  //- 4カラムバナーエリア   
  .p-bnr
    ul.p-bnr__list.p-bnr__list-col4
      +bnrItem("#", "https://placehold.jp/600x250.png", "サンプル画像")
      +bnrItem("#", "https://placehold.jp/600x250.png", "サンプル画像")
      +bnrItem("#", "https://placehold.jp/600x250.png", "サンプル画像")
      +bnrItem("#", "https://placehold.jp/600x250.png", "サンプル画像")
      +bnrItem("#", "https://placehold.jp/600x250.png", "サンプル画像")
