.l-container
  //- 2カラムバナーエリア   
  .p-bnr.u-mb30
    ul.p-bnr__list.p-bnr__list-col2
      li.p-bnr__list-item
        a(href="#").p-bnr__list-link 
          img(src="https://placehold.jp/600x150.png", alt="サンプル画像")
      li.p-bnr__list-item
        a(href="#").p-bnr__list-link 
          img(src="https://placehold.jp/600x150.png", alt="サンプル画像")
      li.p-bnr__list-item
        a(href="#").p-bnr__list-link 
          img(src="https://placehold.jp/600x150.png", alt="サンプル画像")
      li.p-bnr__list-item
        a(href="#").p-bnr__list-link 
          img(src="https://placehold.jp/600x150.png", alt="サンプル画像")
      li.p-bnr__list-item
        a(href="#").p-bnr__list-link 
          img(src="https://placehold.jp/600x150.png", alt="サンプル画像")
  //- 3カラムバナーエリア   
  .p-bnr.u-mb30
    ul.p-bnr__list.p-bnr__list-col3
      li.p-bnr__list-item
        a(href="#").p-bnr__list-link 
          img(src="https://placehold.jp/600x250.png", alt="サンプル画像")
      li.p-bnr__list-item
        a(href="#").p-bnr__list-link 
          img(src="https://placehold.jp/600x250.png", alt="サンプル画像")
      li.p-bnr__list-item
        a(href="#").p-bnr__list-link 
          img(src="https://placehold.jp/600x250.png", alt="サンプル画像")
      li.p-bnr__list-item
        a(href="#").p-bnr__list-link 
          img(src="https://placehold.jp/600x250.png", alt="サンプル画像")
      li.p-bnr__list-item
        a(href="#").p-bnr__list-link 
          img(src="https://placehold.jp/600x250.png", alt="サンプル画像")
  //- 4カラムバナーエリア   
  .p-bnr
    ul.p-bnr__list.p-bnr__list-col4
      li.p-bnr__list-item
        a(href="#").p-bnr__list-link 
          img(src="https://placehold.jp/600x250.png", alt="サンプル画像")
      li.p-bnr__list-item
        a(href="#").p-bnr__list-link 
          img(src="https://placehold.jp/600x250.png", alt="サンプル画像")
      li.p-bnr__list-item
        a(href="#").p-bnr__list-link 
          img(src="https://placehold.jp/600x250.png", alt="サンプル画像")
      li.p-bnr__list-item
        a(href="#").p-bnr__list-link 
          img(src="https://placehold.jp/600x250.png", alt="サンプル画像")
      li.p-bnr__list-item
        a(href="#").p-bnr__list-link 
          img(src="https://placehold.jp/600x250.png", alt="サンプル画像")
