.l-container
  //- 画像テキスト
  .c-media
    figure.c-media__img-wrapper
      img(src="https://placehold.jp/640x300.png", srcset="https://placehold.jp/1280x600.png 2x, https://placehold.jp/1920x900.png 3x" alt="サンプル画像")
    .c-media__body
      h3.c-media__ttl テキストメディア画像
      p.c-media__txt この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。
      p.c-media__txt これはテキストメディア画像モジュールのサンプルです。
  //- テキスト画像
  .c-media.c-media--rev
    figure.c-media__img-wrapper
      img(src="https://placehold.jp/640x300.png", srcset="https://placehold.jp/1280x600.png 2x, https://placehold.jp/1920x900.png 3x" alt="サンプル画像")
    .c-media__body
      h3.c-media__ttl テキストメディア画像
      p.c-media__txt この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。
      p.c-media__txt これはテキストメディア画像モジュールのサンプルです。
