.l-container
  figure.c-caption
    img.c-caption__img(src="https://placehold.jp/300x250.png" alt="")
    figcaption.c-caption__txt 画像キャプション
  figure.c-caption--center
    img.c-caption__img(src="https://placehold.jp/300x250.png" alt="")
    figcaption.c-caption__txt 画像キャプション
  figure.c-caption--right
    img.c-caption__img(src="https://placehold.jp/300x250.png" alt="")
    figcaption.c-caption__txt 画像キャプション
