.l-container
  nav.p-pager.u-mb30
    ul.p-pager__inner
      li.p-pager__item
        span.p-pager__link.p-pager__link--active 1
      li.p-pager__item
        a(href="#").p-pager__link 2
      li.p-pager__item
        a(href="#").p-pager__link 3
      li.p-pager__item
        a(href="#" aria-label="次へ").p-pager__link <svg class="c-icon" role="img"><use xlink:href="/svg/sprite.svg#arrow-right"></use></svg>
      li.p-pager__item
        a(href="#").p-pager__link 最後

  nav.p-pager.u-mb30
    ul.p-pager__inner
      li.p-pager__item
        a(href="#").p-pager__link 最初
      li.p-pager__item
        a(href="#" aria-label="前へ").p-pager__link <svg class="c-icon" role="img"><use xlink:href="/svg/sprite.svg#arrow-left"></use></svg>
      li.p-pager__item
        span.p-pager__link.p-pager__link--active 98
      li.p-pager__item
        a(href="#").p-pager__link 99
      li.p-pager__item
        a(href="#").p-pager__link 100
  
  nav.p-pager.u-mb30
    ul.p-pager__inner
      li.p-pager__item
        a(href="#").p-pager__link 最初
      li.p-pager__item
        a(href="#" aria-label="前へ").p-pager__link <svg class="c-icon" role="img"><use xlink:href="/svg/sprite.svg#arrow-left"></use></svg>
      li.p-pager__item
        span.p-pager__link.p-pager__link--active 10
      li.p-pager__item
        a(href="#").p-pager__link 11
      li.p-pager__item
        a(href="#").p-pager__link 12
      li.p-pager__item
        a(href="#" aria-label="次へ").p-pager__link <svg class="c-icon" role="img"><use xlink:href="/svg/sprite.svg#arrow-right"></use></svg>
      li.p-pager__item
        a(href="#").p-pager__link 最後
  
  nav.p-pager
    ul.p-pager__inner
      li.p-pager__item
        a(href="#").p-pager__link 最初
      li.p-pager__item
        a(href="#" aria-label="前へ").p-pager__link <svg class="c-icon" role="img"><use xlink:href="/svg/sprite.svg#arrow-left"></use></svg>
      li.p-pager__item
        span.p-pager__link.p-pager__link--active 10
      li.p-pager__item
        a(href="#").p-pager__link 11
      li.p-pager__item
        a(href="#").p-pager__link 12
      li.p-pager__item
        a(href="#").p-pager__link 13
      li.p-pager__item
        a(href="#").p-pager__link 14
      li.p-pager__item
        a(href="#").p-pager__link 15
      li.p-pager__item
        a(href="#").p-pager__link 16
      li.p-pager__item
        a(href="#" aria-label="次へ").p-pager__link <svg class="c-icon" role="img"><use xlink:href="/svg/sprite.svg#arrow-right"></use></svg>
      li.p-pager__item
        a(href="#").p-pager__link 最後
