@charset "UTF-8";

/* ========================================
  Accordion
======================================== */

.c-accordion {
  max-width: 680px;
  margin-right: auto;
  margin-left: auto;
}

// アコーディオンボタン
.c-accordion__btn {
  @include fz_vw(26);

  display: block;
  position: relative;
  width: 100%;
  padding: get_vw(20) get_vw(50) get_vw(20) get_vw(25);
  text-align: left;
  outline: none;
  border: none;
  border-bottom: 1px solid #2d5996;
  background-color: $accentColor;
  color: $mainColor;
  cursor: pointer;

  @include mq(md) {
    padding: 1rem 4rem 1rem 1.5rem;
    font-size: 1.6rem;
  }

  // ボタン横線
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 1.5rem;
    width: 20px;
    height: 2px;
    background-color: currentColor;
    transform: translateY(-50%);
  }

  // ボタン縦線
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 2.4rem;
    width: 2px;
    height: 20px;
    background-color: currentColor;
    transform: translateY(-50%);
  }

  // ホバーフォーカス時
  &:focus,
  &:hover {
    background-color: $mainColor;
    color: $accentColor;
  }
}

// アコーディオン展開箇所
.c-accordion__body {
  overflow: hidden;
  height: 0;
  padding: 0 get_vw(25);
  line-height: 0;
  opacity: 0;
  transition: padding 0.25s, opacity 0.25s;

  @include mq(md) {
    padding: 0 1.5rem;
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}

.c-accordion__txt {
  margin-bottom: get_vw(30);

  @include mq(md) {
    margin-bottom: 2rem;
  }
}

// ボタンアクティブ
.is-accordion-active {
  border-bottom: none;

  &::after {
    content: none;
  }
}

// コンテンツ展開
.is-accordion-open {
  height: auto;
  padding: get_vw(25);
  line-height: normal;
  opacity: 1;

  @include mq(md) {
    padding: 1.5rem;
  }
}
