@charset "UTF-8";

/* ========================================
  Button
======================================== */

// ボタン標準モジュール
// --------------------------------------------------
.c-btn {
  display: inline-block;
  width: 300px;
  max-width: 100%;
  padding: 1rem 0.5rem;
  text-align: center;
  text-decoration: none;
  font-size: 1.4rem;
  border-radius: 5px;
  cursor: pointer;
  appearance: none;

  @include mq(md) {
    padding: 2rem 1rem;
    font-size: 1.6rem;
  }
}

// メインボタンモジュール
// --------------------------------------------------
.c-btn-main {
  @extend .c-btn;

  border: 2px solid transparent;
  background-color: $linkColor;
  color: #fff;
  transition: 0.3s;

  &:hover,
  &:focus {
    outline: none;
    border-color: currentColor;
    background-color: #fff;
    color: $linkColor;
  }
}

// サブボタンモジュール
// --------------------------------------------------
.c-btn-sub {
  @extend .c-btn;

  border: 2px solid transparent;
  background-color: $blurColor;
  color: #fff;
  transition: 0.3s;

  &:hover,
  &:focus {
    outline: none;
    border-color: currentColor;
    background-color: #fff;
    color: $blurColor;
  }
}

// アイコン付きボタンモジュール(SVGスプライト利用)
// --------------------------------------------------
.c-icon-btn {
  display: inline-block;
  position: relative;
  padding: 0.2em 0.3em;
  text-decoration: none;
  border: 1px solid currentColor;
  color: $linkColor;
  transition: $baseTransition;

  svg {
    fill: $linkColor;
  }

  &:focus,
  &:hover {
    background-color: $linkColor;
    color: #fff;

    svg {
      fill: #fff;
    }
  }
}
