@charset "UTF-8";

/* ========================================
  Button
======================================== */

// 標準ボタンモジュール
.c-btn {
  display: inline-block;
  width: 300px;
  max-width: 100%;
  padding: 1rem .5rem;
  text-align: center;
  text-decoration: none;
  font-size: 1.4rem;
  border-radius: 5px;
  cursor: pointer;
  appearance: none;

  @include mq(md) {
    padding: 2rem 1rem;
    font-size: 1.6rem;
  }
}

.c-btn-main {
  @extend .c-btn;

  border: 2px solid transparent;
  background-color: $linkColor;
  color: #fff;
  transition: 0.3s;

  &:hover,
  &:focus {
    outline: none;
    border-color: currentColor;
    background-color: #fff;
    color: $linkColor;
  }
}

.c-btn-sub {
  @extend .c-btn;

  border: 2px solid transparent;
  background-color: $blurColor;
  color: #fff;
  transition: 0.3s;

  &:hover,
  &:focus {
    outline: none;
    border-color: currentColor;
    background-color: #fff;
    color: $blurColor;
  }
}
