@charset "UTF-8";

/* ========================================
  Caption
======================================== */

.c-caption__txt {
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: bold;
}
