@charset "UTF-8";

/* ========================================
  Icon
======================================== */

.c-icon {
  width: 1em;
  height: 1em;
}

.c-icon--before {
  margin-right: 0.5em;
}

.c-icon--after {
  margin-left: 0.5em;
}

.c-icon-wrap {
  display: flex;
  align-items: center;
}

.c-icon-bg--before {
  padding-left: 1.5em;
  // スタイルガイドでは背景画像をインラインで記述
  //background: url(/img/share/pdf.svg) no-repeat left center;
  line-height: 1em;
}

.c-icon-bg--after {
  display: inline-block;
  padding-right: 1.5em;
  // スタイルガイドでは背景画像をインラインで記述
  //background: url(/img/share/pdf.svg) no-repeat right center;
  line-height: 1em;
}
