@charset "UTF-8";

/* ========================================
  List
======================================== */

// 順序無しリスト標準モジュール(シングルクラス利用)
// --------------------------------------------------
.c-bullet-list {
  list-style: none;
}

.c-bullet-list__item {
  position: relative;
  margin-bottom: 1rem;
  padding-left: 1em;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0.5em;
    left: 0;
    width: 0.4em;
    height: 0.4em;
    border-radius: 50%;
    background-color: $accentColor;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

// 順序無し水平リストモジュール(マルチクラス利用)
// --------------------------------------------------
.c-bullet-list--horiz {
  @include mq(sm) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -1rem;

    .c-bullet-list__item {
      flex: calc(50% - 2.5rem);
      margin-right: 1rem;
    }

    .c-bullet-list__item:nth-of-type(even) {
      margin-right: 0;
    }
  }
}

// 順序ありリスト標準モジュール
// --------------------------------------------------
.c-order-list {
  counter-reset: c-order-list;
}

.c-order-list__item {
  position: relative;
  margin-bottom: 1rem;
  padding-left: 1em;

  &::before {
    content: counter(c-order-list) ". ";
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    color: $accentColor;
    counter-increment: c-order-list;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
