@charset "UTF-8";

/* ========================================
  Media
======================================== */

// 画像テキスト(シングルクラス)
// --------------------------------------------------
.c-media {
  @include mq(md) {
    display: flex;
    align-items: center;
  }
}

.c-media__img-wrapper {
  margin-bottom: 1rem;
  img {
    width: 100%;
  }

  @include mq(md) {
    margin-bottom: 0;
    // コンテンツ幅縮小時にテキストと同時に縮小(画像初期縮小値40%)
    flex: 0 1 48.4%;
    // コンテンツ幅1200px時に40px余白(デザインラフに合わせる)
    margin-right: 40 / 1200 * 100%;
  }
}

.c-media__body {
  flex: 1;
  > *:last-child {
    margin-bottom: 0;
  }
}

.c-media__ttl {
  margin-bottom: 1.2rem;
  font-size: 1.8rem;
}

.c-media__txt {
  margin-bottom: 1rem;
}

// テキスト画像(マルチクラス)
// --------------------------------------------------
.c-media--rev {
  @include mq(md) {
    flex-direction: row-reverse;
  }
}

.c-media__img-wrapper--rev {
  margin-right: 0;
}

.c-media__body {
  @include mq(md) {
    // コンテンツ幅1200px時に40px余白(デザインラフに合わせる)
    margin-right: 40 / 1200 * 100%;
  }
}
