.l-container
  dl.c-accordion
    dt.c-accordion__ttl
      button.c-accordion__btn.js-accordion-trigger アコーディオン1
    dd.c-accordion__body
      p.c-accordion__txt これはアコーディオンに関するサンプルテキストです。

    dt.c-accordion__ttl
      button.c-accordion__btn.js-accordion-trigger アコーディオン2
    dd.c-accordion__body
      p.c-accordion__txt これはアコーディオンに関するサンプルテキストです。
  
    dt.c-accordion__ttl
      button.c-accordion__btn.js-accordion-trigger アコーディオン3
    dd.c-accordion__body
      p.c-accordion__txt これはアコーディオンに関するサンプルテキストです。
