dl.c-accordion
  dt
    button.c-accordion__btn アコーディオン1

  dd.c-accordion__body
    p.c-accordion__txt これはアコーディオンに関するサンプルテキストです。

  dt
    button.c-accordion__btn アコーディオン2

  dd.c-accordion__body
    p.c-accordion__txt これはアコーディオンに関するサンプルテキストです。
  
  dt
    button.c-accordion__btn アコーディオン3

  dd.c-accordion__body
    p.c-accordion__txt これはアコーディオンに関するサンプルテキストです。
