.l-container
  //- アコーディオン
  dl.p-accordion
    //- アコーディオン項目
    dt.p-accordion__ttl
      button.p-accordion__btn.js-accordion-trigger アコーディオン1
    dd.p-accordion__body
      p.p-accordion__txt これはアコーディオンに関するサンプルテキストです。
    //- アコーディオン項目
    dt.p-accordion__ttl
      button.p-accordion__btn.js-accordion-trigger アコーディオン2
    dd.p-accordion__body
      p.p-accordion__txt これはアコーディオンに関するサンプルテキストです。
    //- アコーディオン項目
    dt.p-accordion__ttl
      button.p-accordion__btn.js-accordion-trigger アコーディオン3
    dd.p-accordion__body
      p.p-accordion__txt これはアコーディオンに関するサンプルテキストです。
