.c-media
  figure.c-media__img-wrapper
    img(src="/img/share/share01.jpg", alt="サンプル画像")
  .c-media__body
    h3.c-media__ttl テキストメディア画像
    p.c-media__txt これはテキストメディア画像モジュールのサンプルです。
    p.c-media__txt これはテキストメディア画像モジュールのサンプルです。
