.l-container
  //- ポストリスト（垂直方向）
  ul.p-vert-post
    li.p-vert-post__item
      .p-vert-post__header
        time(date-time="2020-04-03").p-vert-post__date 2020/04/03
        span.c-label NEWS
      a(href="https://www.tam-tam.co.jp/").p-vert-post__link TAMサイトトップページ
    li.p-vert-post__item
      .p-vert-post__header
        time(date-time="2020-04-02").p-vert-post__date 2020/04/02
      a(href="https://www.tam-tam.co.jp/about/outline/").p-vert-post__link TAMサイト 会社概要
    li.p-vert-post__item
      .p-vert-post__header
        time(date-time="2020-04-01").p-vert-post__date 2020/04/01
        span.c-label NEWS
      a(href="https://www.tam-tam.co.jp/about/leaders/").p-vert-post__link TAMサイト リーダーメッセージ
