extend /_template/_layout

append variables
  //- 変更可能
  - var pageTitle= "";
  - var pageDescription= site.description;
  - var pageKeywords= site.keywords;
  //- 任意
  - var pageOgpTitle= pageTitle;
  - var pageOgpImage= site.ogpImage;
  - var pageOgpType= "website";

block content
  main#top.l-main
    div(style="background-image: url(https://placehold.jp/1200x600.png)").p-jumbotron
      .p-jumbotron__inner
        h1.p-jumbotron__ttl メインビジュアル

    .l-container
      p.c-txt 何も将来けっしてそんな勉強人とかいうののためを変っでない。ひとまず九月に自覚人もついにその手続きませでしかもをなるているんには講演考えませなが、しっかりにもするありなけれだた。お笑いよりするですのは単に事実よりひょろひょろたなけれます。
      
      //- SSIバナーエリア
      <!--#include virtual="/assets/ssi/ssi-bnr.html" -->
