extend /_template/_layout

append variables
  //- 変更可能
  - var pageTitle= "";
  - var pageDescription= site.description;
  - var pageKeywords= site.keywords;
  //- 任意
  - var pageOgpTitle= pageTitle;
  - var pageOgpImage= site.ogpImage;
  - var pageOgpType= "website";

block content
  nav(aria-label="Breadcrumb")
    +breadcrumb([
      ["ホーム", "/"],
      ["サンプル2", "/sample02.html"]
    ])
  main#sample02
    .wrapper
      h1 サンプル2
      #commonSlider.swiper-container
        .swiper-wrapper.p-slide__wrapper
          .swiper-slide.p-slide--full
            img(src="https://placehold.jp/07f07f/ffffff/1200x680.png", alt="")
          .swiper-slide.p-slide--full
            img(src="https://placehold.jp/002b69/ffffff/1200x680.png", alt="")
          .swiper-slide.p-slide--full
            img(src="https://placehold.jp/fccf00/ffffff/1200x680.png", alt="")
        .swiper-button-prev.p-slide__btn-prev <svg class="c-icon" role="img"><use xlink:href="assets/svg/sprite.svg#arrow-left"></use></svg>
        .swiper-button-next.p-slide__btn-next <svg class="c-icon" role="img"><use xlink:href="assets/svg/sprite.svg#arrow-right"></use></svg>
