extend /_template/_layout

append variables
  //- 変更可能
  - var pageTitle= "";
  - var pageDescription= site.description;
  - var pageKeywords= site.keywords;
  //- 任意
  - var pageOgpTitle= pageTitle;
  - var pageOgpImage= site.ogpImage;
  - var pageOgpType= "website";

block content
  nav(aria-label="Breadcrumb")
    +breadcrumb([
      ["ホーム", "/"],
      ["サンプル", "/sample.html"]
    ])
  main
    .wrapper
      h1 サンプルページ
      +picture("https://placehold.jp/300x300.png", "サンプル").responsiveImage
           +source(lg, "https://placehold.jp/1000x1000.png")
           +source(md, "https://placehold.jp/600x600.png")
      
      .api
        h2 API通信サンプル処理
        p 以下テキスト情報はGetリクエストで取得しています。
        p.js-ttl
        p.js-body
