extend /_template/_layout

append variables
  //- 変更可能
  - var pageTitle= "";
  - var pageDescription= site.description;
  - var pageKeywords= site.keywords;
  //- 任意
  - var pageOgpTitle= pageTitle;
  - var pageOgpImage= site.ogpImage;
  - var pageOgpType= "website";

block content
  nav(aria-label="Breadcrumb")
    +breadcrumb([
      ["ホーム", "/"],
      ["サンプル2", "/sample02.html"]
    ])
  main
    .wrapper
      h1 サンプル2
      #app
